@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
     font-family: 'Montserrat', sans-serif;
}
.header{
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)) , url(../img/header-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.navbar{
    padding: 1rem;

}

.navbar .logo{
    float: left;
    padding-top: 20px;
    /* color: red; */
}


.navbar .nav-items{
    float: right;
    margin-top: 1rem;
}

.navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
    }
.nav-item a{
color: white;
text-decoration: none;
}


.header .navbar a:link,
.navbar a:visited{
   color: #f4f4f4;
   text-decoration: none; 
}


.navbar .nav-item a:hover{
    border-bottom: 1px solid white;
}


.header .navbar::after{
    content: "";
    display: block;
    clear: both;
}

/* ##########navbar-1############ */

.navbar-1{
    padding: .5rem 0;
}
.navbar-1 .logo{
    float: left;
    padding-top: 20px;
}

.navbar-1 .nav-items{
    float: right;
    margin-top: 1rem;
}

.navbar-1 .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
    }
.navbae-1 .nav-item a{
color: white;
text-decoration: none;
}


.navbar-1 a:link,
.navbar-1 a:visited{
   color: #f4f4f4;
   text-decoration: none; 
}


.navbar-1 .nav-item a:hover{
    border-bottom: 1px solid white;
}


.navbar-1::after{
    content: "";
    display: block;
    clear: both;
}


p,li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

ul,li{
    list-style: none;
}

h1,h2,h3{
    margin-bottom: 0.5;
    letter-spacing: 0.15;
    font-weight: 500;
}

/* utility classes */

.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
    font-size: 1.5rem;
}
.text-red{
    color: #e63946;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333333;
}
.text-gray{
    color: rgb(54, 48, 48);
}
.bg-dark{
   background-color: #263238;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
    text-decoration: none;
    
}
.primery-btn{
    background-color: white;
    border-radius: 10em;
}
.primery-btn:hover{
    background-color: #dddd;
}
.secondary-btn{
    border: 2px solid #e63946;
    border-radius: 10em;
    background-color: white ;
}
.secondary-btn:hover{
    background-color: #dddd;

}









/* ###### html styling ####### */
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.container2 {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0,0,0,0.2) ,rgba(0,0,0,0.2)) 

}
.container2 h1{
    font-size:25px;
    text-transform: uppercase;
    font-weight: 700;
}
.container2 p{
    text-transform: uppercase;
    padding: 13px;
}

/* ########section######## */
.showcase{
    background-color: #ddd;
    padding: 10rem 0;
}
.row{
    height: 350px;
    /* border: 2px solid red; */
    box-shadow: 0px 0px 20px 0px #00000062;
}
.row1{
    margin-bottom: 10rem;
}

.row1 .img-box, .row2 .text-box{
  float:left;
  width: 50%;  
}
.row .img-box{
    height: 100%;
}
.row .text-box{
    height: 100%;
    padding: 3rem;
    background-color: white;
}

.row2 .img-box, .row1 .text-box{
    float:right;
    width: 50%;  
}
.row1 .img-box, .row2 .text-box{
    /* height: 100%; */
    /* border: 2px solid yellow; */
}
.row .img-box img{
    display: inline-block;
    width:100%;
    height:100%;
    object-fit:cover; 
}
.row .text-box p{
    margin-top: 3rem;
}

/* #######feature###### */
.feature{
    padding: 10rem 0;
}
.box-wrapper::after{
    content: "";
    display: block;
    clear: both;
}
.box-wrapper{
    box-shadow: 5px 5px 20px 0px #0000002f;
}
.box{
    width: 33.33%;
    padding: 2rem;
    float: left;
    text-align: center;
    /* border: 2px solid black; */
}
.box-1, .box-3{
    background-color: #263238;
    color: white;
}

.box-2{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: white;
}

/* ############### footer styling ########## */
.footer{
    background-color: #263238;
    color: #f4f4f4;
    text-align: center;
    padding: 2rem;
}
.social-media i{
    margin: 2rem; 
    font-size: x-large;     
}

/* ############about########### */

.about{
    padding: 5rem 0;


}
.about-heading{
    border-bottom: 3px solid #e63946;

}
.about p{
    margin-top: 2rem;
}

.about-wrapper{
    margin-top: 2rem;
    text-align: center;
    
}
.
.about-wrapper .right{
    float: right;
    width: 50%;
}
.about-wrapper .left{
    float: left;
    width: 50%;
}
.about-wrapper::after{
    content: "";
    display: block;
    clear: both;
}
.about-wrapper li::before{
    content: "\2713";
    font-weight: bold;
    color: #e63946;
    padding-right: 2rem;

}

/* ##########count styling##########3 */

.counts{
    margin-top: 3rem;
}

.counts::after{
    content: "";
    display: block;
    clear: both;
    /* border: 2px red; */

}
.count-item{
    float: left;
    width: 25%;
    text-align: center;
}
.count-item span{
    font-size: 3rem;
    font-weight: 700;
    color: #e63946;
}
.count-item p{
    color: gray;
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 1rem;
}

/* ###########cta-banner######### */

.cta-banner{
    text-align: center;
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: white;
    box-shadow: 5px 5px 10px #00000062;
    padding: 1rem;
    margin-top: 3rem;
}

.cta-line{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.cta-banner::after{
    content: "";
    display: block;
    clear: both;
}
.cta-banner .cta-banner-left{
    float: left;
    display: inline-block;
    width: 60%;
} 

.cta-banner .cta-banner-right{
    float: right;
    display: inline-block;
    width: 40%;
    text-align: right;
}
.cta-btn{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 4px solid white;
    padding: 0.3em 2.5em;
    letter-spacing: 0.5rem;
    
}

/* ########### CONTACT PAGE STYLING ########### */
.form-wrapper{
    padding: 3rem 0;
    text-align: left;
    font-size: 2rem;


}

.form-wrapper .address-group{
    /* border: 6px solid yellow; */

}

.form-wrapper::after{
    content: "";
    display: inline-block;
    clear: both;
}
.form-wrapper .company-address{
    height: 600px;
   background-color: #fff;
   float: left;
   width: 49%;
   /* border: 2px solid green; */
}
.form-wrapper .address-group{
    margin-bottom: 3rem;
}

.form-wrapper .company-address img{
    max-width: 90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right;
}

/* 
.form{
    background-color: #fff;
    float:right;
    width:49%;
    border: 2px solid green; */
}

.form-wrapper .company-address i{
    display: inline-block;
}

.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
    
}

/* ############## form styling ######## */
.form-wrapper .form{
    height: 600px;
    font-size: 1.6rem;
    background-color: #fff;
    float:right;
    width:49%;
    padding: 1rem;
    
}
.form h1{
    content: "";
    display: block;
    border-bottom :3px solid #e63946;
    width: 100%;

}
.form-wrapper label{
    display: block;

}
.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}
.form-wrapper .form .form-group{
    margin-bottom: 1.6rem;
}
.form-wrapper .form-group label::after{
    content: "*";
    color: #e63946;
}
.form-wrapper .form textarea{
    width:100%;
    height: 250px;
    padding: 1rem;
}
.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}


